#waybar {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 0.5);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #cdd6f4;
}

#workspaces button.active {
    color: #a6e3a1;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#clock,
#battery,
#pulseaudio,
#network,
#tray {
    padding: 0 10px;
}