* {
    font-family: "Monocraft", "Symbols Nerd Font", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.7);
    color: #cdd6f4;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

tooltip {
    background: rgba(30, 30, 46, 0.9);
    border-radius: 12px;
    border: 2px solid #89b4fa;
}

#workspaces, #window, #mpris, #clock, #pulseaudio, #network, #battery, #tray, #cpu, #custom-notification, #bluetooth, #memory, #custom-gpu {
    background: rgba(49, 50, 68, 0.5);
    border-radius: 10px;
    margin: 6px 4px;
    padding: 0 10px;
    color: #bac2de;
}

#custom-launcher {
    color: #89b4fa;
    padding-left: 14px;
    padding-right: 2px;
    font-size: 22px;
}

#workspaces button {
    color: #6c7086;
    background: transparent;
    transition: all 0.3s ease;
    padding: 0 6px;
}

#workspaces button.active {
    color: #89b4fa;
    text-shadow: 0 0 5px rgba(137, 180, 250, 0.5);
}

#workspaces button:hover {
    color: #cdd6f4;
}

#mpris { color: #a6e3a1; }
#clock { color: #f38ba8; }
#cpu { color: #f9e2af; }
#network { color: #89dceb; }
#pulseaudio { color: #fab387; }
#battery { color: #f9e2af; }
#battery.charging { color: #a6e3a1; }
#battery.warning:not(.charging) {
    color: #f38ba8;
    animation: blink 1s linear infinite;
}
#memory { color: #1ec85d; }
#custom-gpu { color: #4c1dd8; }
#bluetooth { color: #d13dcc; }

@keyframes blink { 50% { color: transparent; } }

#custom-notification {
    color: #cba6f7;
    padding-right: 14px;
}

